.development/hbvisu-data/.flows.json.backup
[{"id":"bc332a5b.4671b8","type":"tab","label":"Functions","disabled":true,"info":""},{"id":"c01714a7.b3b638","type":"tab","label":"Unifi ","disabled":false,"info":""},{"id":"4a25ebec.b98134","type":"tab","label":"Dachfenster","disabled":true,"info":""},{"id":"95cb32a3.bf1","type":"tab","label":"Pulse","disabled":true,"info":""},{"id":"23fa2de1.8ee612","type":"tab","label":"Sonos","disabled":true,"info":""},{"id":"4c36667e.bb89e8","type":"tab","label":"timer","disabled":true,"info":""},{"id":"248ff861.fffd38","type":"function","z":"bc332a5b.4671b8","name":"get/setContext","func":"function setContext(mitAnfZ,ohneAnfZ,ort) {\n     context.set(mitAnfZ, ohneAnfZ, ort);\n}\n\nfunction getContext(mitAnfZ,ort) {\n     return context.get(mitAnfZ, ort);\n}\n\nif (msg.payload===true) {\n     setContext(\"Test\",47,\"default\");\n} else {\n    msg.payload = getContext(\"Test\",\"default\");\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["8f742158.394a2"]]},{"id":"d200cb75.a374d8","type":"debug","z":"bc332a5b.4671b8","name":"Out2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":140,"wires":[]},{"id":"b944f49f.de34f8","type":"debug","z":"bc332a5b.4671b8","name":"Out3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":180,"wires":[]},{"id":"d2618b72.78a098","type":"debug","z":"bc332a5b.4671b8","name":"Out1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":100,"wires":[]},{"id":"73d91432.84e3dc","type":"inject","z":"bc332a5b.4671b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["248ff861.fffd38","d4933eae.bde09"]]},{"id":"f00352a3.8736f","type":"inject","z":"bc332a5b.4671b8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["248ff861.fffd38","d4933eae.bde09"]]},{"id":"d4933eae.bde09","type":"function","z":"bc332a5b.4671b8","name":"sender","func":"function sender(out1,out2,out3,out4) {\n    function name(item){\n        if ((item === null) || (item === undefined)) {\n            return null\n        } else {\n            return {payload:item}\n        }\n    }\n    return [name(out1),name(out2),name(out3),name(out4)];\n}\n\nif (msg.payload===true) {\n     return sender(1,false,3,\"BlaBlaBla\");\n} else {\n    return sender(17,2,null,\"\");\n}","outputs":4,"noerr":0,"x":390,"y":160,"wires":[["d2618b72.78a098"],["d200cb75.a374d8"],["b944f49f.de34f8"],["1cda9a8f.5e76a5"]]},{"id":"8f742158.394a2","type":"debug","z":"bc332a5b.4671b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"1cda9a8f.5e76a5","type":"debug","z":"bc332a5b.4671b8","name":"Out4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":220,"wires":[]},{"id":"764303c9.1d57bc","type":"Unifi","z":"c01714a7.b3b638","name":"","ip":"192.168.49.202","port":8443,"site":"default","command":"90","x":350,"y":140,"wires":[["b7ad2957.26aec8","1d7c246a.37243c"]]},{"id":"9781a568.26cd58","type":"inject","z":"c01714a7.b3b638","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["764303c9.1d57bc"]]},{"id":"781d8cd2.3ac8e4","type":"debug","z":"c01714a7.b3b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":100,"wires":[]},{"id":"f77f8c10.56dbe","type":"debug","z":"c01714a7.b3b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":140,"wires":[]},{"id":"bfd7b0a.327b05","type":"debug","z":"c01714a7.b3b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"4543e174.3d8c7","type":"debug","z":"c01714a7.b3b638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":40,"wires":[]},{"id":"9ee53001.d768","type":"change","z":"4a25ebec.b98134","name":"","rules":[{"t":"set","p":"#:(persist)::sonne.winkel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":560,"wires":[["7cfd8a90.6b4094"]]},{"id":"a5ecb838.2423d8","type":"change","z":"4a25ebec.b98134","name":"","rules":[{"t":"set","p":"#:(persist)::sonne.hoehe","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[["7cfd8a90.6b4094"]]},{"id":"7cfd8a90.6b4094","type":"debug","z":"4a25ebec.b98134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":580,"wires":[]},{"id":"3efef3d0.a05ccc","type":"inject","z":"4a25ebec.b98134","name":"Winkel","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":560,"wires":[["9ee53001.d768"]]},{"id":"e737674a.814698","type":"inject","z":"4a25ebec.b98134","name":"Höhe","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":600,"wires":[["a5ecb838.2423d8"]]},{"id":"e3e6d074.7a698","type":"inject","z":"4a25ebec.b98134","name":"Winkel","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":520,"wires":[["9ee53001.d768"]]},{"id":"e27163cd.5f3be","type":"inject","z":"4a25ebec.b98134","name":"Höhe","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":640,"wires":[["a5ecb838.2423d8"]]},{"id":"2cfe88b5.a1c7e8","type":"debug","z":"4a25ebec.b98134","name":"auf","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":100,"wires":[]},{"id":"96dcf25d.fe4e9","type":"debug","z":"4a25ebec.b98134","name":"ab","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":140,"wires":[]},{"id":"b268b810.e2d6d8","type":"debug","z":"4a25ebec.b98134","name":"besch aktiv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":180,"wires":[]},{"id":"c9c30bdb.24e4b8","type":"debug","z":"4a25ebec.b98134","name":"autom. aktiv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":220,"wires":[]},{"id":"7f73a80a.30d898","type":"inject","z":"4a25ebec.b98134","name":"","topic":"automatik","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[[]]},{"id":"10fdd70.7d3c129","type":"inject","z":"4a25ebec.b98134","name":"","topic":"automatik","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":140,"wires":[[]]},{"id":"7e3a6401.0e224c","type":"inject","z":"4a25ebec.b98134","name":"","topic":"fahren","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[[]]},{"id":"cc4fbb67.282b58","type":"inject","z":"4a25ebec.b98134","name":"","topic":"fahren","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[[]]},{"id":"3c19e067.20b27","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"d8515789.acfc18","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":140,"wires":[]},{"id":"8c4e3d96.e764a","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"731452c1.86d80c","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"e9124c2c.a7a74","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":420,"wires":[]},{"id":"6ca885ed.f103ec","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"d52fd0a1.55877","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":340,"wires":[]},{"id":"f6a7109e.498b3","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"5d7540fe.9dad3","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"d9ba42e4.f6d4b","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":460,"wires":[]},{"id":"b900818.b3df78","type":"debug","z":"95cb32a3.bf1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":500,"wires":[]},{"id":"d3e114f2.73db48","type":"inject","z":"4a25ebec.b98134","name":"","topic":"temp","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[[]]},{"id":"d9374452.2fc748","type":"inject","z":"4a25ebec.b98134","name":"","topic":"temp","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[[]]},{"id":"beb272a.ae01b9","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":60,"wires":[]},{"id":"78c9531c.46195c","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":100,"wires":[]},{"id":"32f59fc7.bae16","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":140,"wires":[]},{"id":"5b6eef82.47755","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":180,"wires":[]},{"id":"880167c3.ac4548","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"17daa98a.52b606","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":260,"wires":[]},{"id":"1bebd709.44c179","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":360,"wires":[]},{"id":"f9d42085.7e4e7","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":300,"wires":[]},{"id":"1577c2d1.4566fd","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"2","x":70,"y":200,"wires":[["f8a7ced2.c546b"]]},{"id":"f8a7ced2.c546b","type":"function","z":"23fa2de1.8ee612","name":"","func":"msg = {\n    \"payload\":\"classicrock.aac\",\n    \"_msgid\":\"20dab32f.77d69c\",\n    \"_event\":\"node:83c79aaa.c18568\",\n    \"track\":{\"title\":\"classicrock.aac\",\n    \"artist\":\"kevin\",\n    \"album\":\"mein Album\",\n    \"albumArtURI\":\"www.zumeinalbum.com\",\n    \"position\":2,\n    \"duration\":0,\n    \"albumArtURL\":null,\n    \"uri\":\"aac://http://webradio.antennevorarlberg.at/classicrock.aac\",\n    \"queuePosition\":1},\n    \"volume\":0,\n    \"normalized_volume\":0,\n    \"state\":\"playing\",\n    \"muted\":false\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["226ed700.52669a"]]},{"id":"226ed700.52669a","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":300,"wires":[]},{"id":"1ea97760.2624e9","type":"inject","z":"4a25ebec.b98134","name":"","topic":"temp","payload":"22.8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":380,"wires":[[]]},{"id":"98e7d548.e695c8","type":"inject","z":"4a25ebec.b98134","name":"","topic":"temp","payload":"22.7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":420,"wires":[[]]},{"id":"77a7d2da.fefe6c","type":"inject","z":"4a25ebec.b98134","name":"","topic":"temp","payload":"23.2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":380,"wires":[[]]},{"id":"ba9e9995.9869f8","type":"inject","z":"4a25ebec.b98134","name":"","topic":"temp","payload":"23.3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":420,"wires":[[]]},{"id":"dc8d2e1e.f217b","type":"inject","z":"4c36667e.bb89e8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[[]]},{"id":"3367bdf0.c43252","type":"inject","z":"4c36667e.bb89e8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":260,"wires":[[]]},{"id":"a970a6cb.101368","type":"debug","z":"4c36667e.bb89e8","name":"timer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":220,"wires":[]},{"id":"1318c78.0762039","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","x":680,"y":620,"wires":[]},{"id":"d3f31f9a.4512b","type":"function","z":"23fa2de1.8ee612","name":"","func":"msg = {\n    \"payload\":\"classicrock.aac\",\n    \"_msgid\":\"20dab32f.77d69c\",\n    \"_event\":\"node:83c79aaa.c18568\",\n    \"track\":{\"title\":\"classicrock.aac\",\n    \"artist\":\"kevin\",\n    \"album\":\"mein Album\",\n    \"albumArtURI\":\"www.zumeinalbum.com\",\n    \"position\":2,\n    \"duration\":0,\n    \"albumArtURL\":null,\n    \"uri\":\"aac://http://webradio.antennevorarlberg.at/classicrock.aac\",\n    \"queuePosition\":1},\n    \"volume\":0,\n    \"normalized_volume\":0,\n    \"state\":\"stopped\",\n    \"muted\":false\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":280,"wires":[[]]},{"id":"5f261348.f17aac","type":"function","z":"23fa2de1.8ee612","name":"","func":"msg = {\n    \"payload\":\"classicrock.aac\",\n    \"_msgid\":\"20dab32f.77d69c\",\n    \"_event\":\"node:83c79aaa.c18568\",\n    \"track\":{\"title\":\"classicrock.aac\",\n    \"artist\":\"kevin\",\n    \"album\":\"mein Album\",\n    \"albumArtURI\":\"www.zumeinalbum.com\",\n    \"position\":2,\n    \"duration\":0,\n    \"albumArtURL\":null,\n    \"uri\":\"aac://http://webradio.antennevorarlberg.at/classicrock.aac\",\n    \"queuePosition\":1},\n    \"volume\":0,\n    \"normalized_volume\":0,\n    \"state\":\"paused\",\n    \"muted\":false\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[[]]},{"id":"4d8b3183.6f6b2","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"2","x":70,"y":280,"wires":[["d3f31f9a.4512b"]]},{"id":"8aff8531.1a5de8","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"2","x":70,"y":360,"wires":[["5f261348.f17aac"]]},{"id":"e47407e3.efbea8","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":480,"wires":[[]]},{"id":"e4386fb9.5feba","type":"inject","z":"c01714a7.b3b638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[[]]},{"id":"a41c4c4f.6eb38","type":"debug","z":"c01714a7.b3b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":320,"wires":[]},{"id":"7a772647.4c1f28","type":"debug","z":"c01714a7.b3b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":360,"wires":[]},{"id":"13c4c59c.4bbcaa","type":"debug","z":"c01714a7.b3b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"7d7f0eae.7f6e5","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[[]]},{"id":"510171b6.aa1f3","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[[]]},{"id":"2d40b979.a6b286","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"next","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[[]]},{"id":"b059f198.7fb5","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"back","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[[]]},{"id":"86dab094.72229","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"up","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[[]]},{"id":"b9189f11.18227","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"down","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[[]]},{"id":"e9f79641.c06218","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[[]]},{"id":"b09a3c03.c536f","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[[]]},{"id":"d0823314.0ee96","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":900,"wires":[[]]},{"id":"f136b253.f00f1","type":"http request","z":"23fa2de1.8ee612","name":"","method":"GET","ret":"txt","url":"","x":540,"y":720,"wires":[[]]},{"id":"5656dab3.7a2434","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":520,"wires":[[]]},{"id":"614435d6.9700bc","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.quelle[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":840,"wires":[[]]},{"id":"cc959138.20eef","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.quelle[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":920,"wires":[[]]},{"id":"14267fe1.edc86","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.quelle[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1000,"wires":[[]]},{"id":"d6339498.847608","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":840,"wires":[["614435d6.9700bc"]]},{"id":"333fafdb.b8def","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":920,"wires":[["cc959138.20eef"]]},{"id":"71aea85b.fea7a8","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"b","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1000,"wires":[["14267fe1.edc86"]]},{"id":"bc6c4758.e02d88","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"b","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":880,"wires":[["614435d6.9700bc"]]},{"id":"bfb381da.e075d","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"c","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":960,"wires":[["cc959138.20eef"]]},{"id":"bb4e4fd5.28ed6","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"d","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1040,"wires":[["14267fe1.edc86"]]},{"id":"d050b637.af2378","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.zone[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1180,"wires":[[]]},{"id":"ed56c1dd.d4a66","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.zone[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1260,"wires":[[]]},{"id":"9603a156.758c6","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.zone[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1340,"wires":[[]]},{"id":"3bf6de82.0b1022","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"werkstatt_ug","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":1180,"wires":[["d050b637.af2378"]]},{"id":"707e31bb.a5b3","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"wohnen_og","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":1260,"wires":[["ed56c1dd.d4a66"]]},{"id":"ea9d6f42.40add","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"kueche_og","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1340,"wires":[["9603a156.758c6"]]},{"id":"3d29e8e2.451cc8","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":1480,"wires":[[]]},{"id":"2dbcd1e6.a3eb7e","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.quelle[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1080,"wires":[[]]},{"id":"83e4ebb0.922438","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"c","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1080,"wires":[["2dbcd1e6.a3eb7e"]]},{"id":"c500f6d6.ec3618","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"d","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1120,"wires":[["2dbcd1e6.a3eb7e"]]},{"id":"ab59d65c.a3ef88","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"#:(persist)::audio.zone[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1400,"wires":[[]]},{"id":"703a2f45.4cf1a","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"schlafen_og","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1400,"wires":[["ab59d65c.a3ef88"]]},{"id":"b0b62559.136908","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"d","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":980,"wires":[["cc959138.20eef"]]},{"id":"78abb490.1ba08c","type":"debug","z":"23fa2de1.8ee612","name":"1. Gruppe","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","x":880,"y":1460,"wires":[]},{"id":"2998db9e.a75044","type":"debug","z":"23fa2de1.8ee612","name":"2. Gruppe","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","x":880,"y":1500,"wires":[]},{"id":"71ba860d.865cd8","type":"http request","z":"23fa2de1.8ee612","name":"","method":"GET","ret":"txt","url":"","x":650,"y":1580,"wires":[["85ae0bad.0122a8"]]},{"id":"85ae0bad.0122a8","type":"debug","z":"23fa2de1.8ee612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1580,"wires":[]},{"id":"cac1ed89.bf6d7","type":"inject","z":"23fa2de1.8ee612","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1540,"wires":[["be7c77ff.895728"]]},{"id":"be7c77ff.895728","type":"change","z":"23fa2de1.8ee612","name":"","rules":[{"t":"set","p":"clear","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1540,"wires":[[]]},{"id":"63940a5e.1fc4e4","type":"change","z":"4a25ebec.b98134","name":"","rules":[{"t":"set","p":"#:(persist)::beschatten.enable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":900,"wires":[[]]},{"id":"aa6535ee.a6bb98","type":"inject","z":"4a25ebec.b98134","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["63940a5e.1fc4e4"]]},{"id":"10b419b3.79d186","type":"inject","z":"4a25ebec.b98134","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["63940a5e.1fc4e4"]]},{"id":"4cc81207.2b29ec","type":"unifi","z":"bc332a5b.4671b8","name":"","x":240,"y":460,"wires":[[]]},{"id":"dbc5cac3.d89ed8","type":"inject","z":"c01714a7.b3b638","name":"","topic":"","payload":"e0:33:8e:7e:8d:c7","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":170,"y":300,"wires":[["927255f8.a13638"]]},{"id":"927255f8.a13638","type":"change","z":"c01714a7.b3b638","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["b7ad2957.26aec8"]]},{"id":"b7ad2957.26aec8","type":"unifi","z":"c01714a7.b3b638","name":"","x":490,"y":140,"wires":[["4543e174.3d8c7"]]},{"id":"1d7c246a.37243c","type":"debug","z":"c01714a7.b3b638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":60,"wires":[]}]